*{
    margin: 0;
    padding: 0;
    color: black;
}
.bg{
    background-image: url(./Zz05NmM1YjFjYjhlNDIxMWViODczZWQzYzBkNTFlNDU4ZA==.jpg);
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.frame{
    width: 90%;
    height: 550px;
    background-color:  hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box{
    width: 50%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.text{
    padding: 10px ;
    font-family: "Outfit";
    font-weight: 400;
    font-size: 15px;
}
h2{
    font-weight: 700;
}